<!doctype html>
<html lang="en">
    <head>
        <title><%= titulo %></title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <link href="/output.css" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <header>
            <nav class="bg-gray-800">
                <div class="ml-5 max-w-7xl px-2 sm:px-6 lg:px-8">
                    <div class="relative flex h-16 items-center">
                        <div class="flex items-center">
                            <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                            <a class="text-white text-lg font-semibold ml-4" href="/">Menu Restaurante</a>
                        </div>
                        <div class="hidden sm:block sm:ml-6">
                            <div class="flex space-x-4 ml-4">
                                <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Inicio</a>
                                <a href="/menus" class="text-white bg-gray-900 px-3 py-2 rounded" aria-current="page">Menu</a>
                                <a href="/caracteristicasProducto" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Características del Productos</a>
                                <a href="/configuracion" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Configuración</a>
                            </div>
                        </div>
        
                        <!-- Button to toggle mobile menu, aligned to the right -->
                        <div class="ml-auto flex sm:hidden">
                            <button id="mobile-menu-button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                                <span class="sr-only">Open main menu</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
        
                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="sm:hidden hidden" id="mobile-menu">
                    <div class="space-y-1 px-2 pb-3 pt-2">
                        <a href="/" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Inicio</a>
                        <a href="/menus" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">Menu</a>
                        <a href="/tabla" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Listado de Productos</a>
                    </div>
                </div>
            </nav>
        
            <script>
                document.getElementById('mobile-menu-button').addEventListener('click', function() {
                    const mobileMenu = document.getElementById('mobile-menu');
                    mobileMenu.classList.toggle('hidden');
                });
            </script>
        </header>       

        <div class="container font-roboto font-bold">
            <div class="row">
                <div class="col-12">
                    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Secciones de Menú</h2>
                        <% Object.keys(data).forEach(seccion => { %>
                        <div class="mb-5" id="<%= data[seccion].idSeccion %>">
                            <h3 class="text-xl font-semibold text-gray-800"><%= seccion %></h3>
                            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                                <% data[seccion].platos.forEach(menu => { %>
                                <div class="group relative mb-4" id="div_<%= menu.nombreTipo %>" 
                                     onclick="abrirModal(this.id)" 
                                     data-imagen="/img/<%= menu.imagenPlato ?? 'image-not-available.jpg' %>" 
                                     data-titulo="<%= menu.nombreTipo %>"
                                     data-nombre="<%= menu.nombrePlato ?? '' %>" 
                                     data-precio="<%= menu.precioPlato ?? 'N/A' %>" 
                                     data-descripcion="<%= menu.descripcionPlato ?? 'Sin descripción' %>">
                                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80" style="background-color: transparent;">
                                        <img 
                                            src="/img/<%= menu.imagenPlato ?? 'image-not-available.jpg' %>" 
                                            class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
                                    </div>
                                    <div class="mt-4 flex justify-between">
                                        <div>
                                            <h4 class="text-sm text-gray-700"><%= menu.nombreTipo %></h4>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="relative z-10 hidden" role="dialog" aria-modal="true" id="modal">
            <div class="fixed inset-0 hidden bg-gray-500 bg-opacity-75 transition-opacity md:block" aria-hidden="true"></div>
        
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                <div class="flex min-h-full justify-center md:px-2 lg:px-4">
                    <div class="flex w-full transform text-left text-base transition md:my-8 md:max-w-full md:w-[90%] md:px-4 lg:max-w-[90%] lg:w-[90%]">
                        <div class="relative flex w-full items-center overflow-hidden bg-white px-4 pb-4 pt-6 shadow-2xl sm:px-4 sm:pt-6 md:p-4 lg:p-6 md:max-w-[90%] md:w-[90%] mx-auto">
                            <button type="button" class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8">
                            <span class="sr-only">Close</span>
                            <svg id="closeModal" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                            </button>
                
                            <div class="grid w-full max-w-[40%] mx-auto grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:gap-x-8">
                                <div class="aspect-h-3 aspect-w-2 overflow-hidden rounded-lg bg-gray-100 sm:col-span-4 lg:col-span-5">
                                    <img id="modal-image" src=" " alt="Two each of gray, white, and black shirts arranged on table." class="object-cover object-center">
                                </div>
                                <div class="sm:col-span-8 lg:col-span-7">
                                    <h2 id="modal-title" class="text-2xl font-bold text-gray-900 sm:pr-12"></h2>
                    
                                    <p id="modal-price" class="text-2xl text-gray-900"></p>
                                    
                                    <p id="modal-description" class="mt-2 text-gray-700"></p>
                    
                                    <!-- Reviews -->
                                    <div class="mt-6">
                                        <h4 class="sr-only">Reviews</h4>
                                        <div class="flex items-center">
                                            <div class="flex items-center">
                                                <!-- Active: "text-gray-900", Default: "text-gray-200" -->
                                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                                </svg>
                                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                                </svg>
                                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                                </svg>
                                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                                </svg>
                                                <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        <p class="sr-only">3.9 out of 5 stars</p>
                                        <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">117 reviews</a>
                                        </div>
                                    </div>
                                    
                                    <section aria-labelledby="options-heading" class="mt-10">
                                        <h3 id="options-heading" class="sr-only">Product options</h3>
                        
                                        <form>
                                            <button type="submit" class="mt-6 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Agregar al Carrito</button>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            const modal = document.getElementById("modal");
            const closeModal = document.getElementById("closeModal");
            const modalTitle = document.getElementById("modal-title");
            const modalImage = document.getElementById("modal-image");
            const modalDescription = document.getElementById("modal-description");
            const modalPrice = document.getElementById("modal-price");

            function abrirModal(id) {
                const item = document.getElementById(id);
                
                // Mostrar el modal
                modal.classList.remove('hidden'); 

                // Asignar los datos al modal
                modalTitle.textContent = item.getAttribute('data-nombre');
                modalImage.src = item.getAttribute('data-imagen');
                modalDescription.textContent = item.getAttribute('data-descripcion');
                modalPrice.textContent = '$' + item.getAttribute('data-precio');
            }

            closeModal.addEventListener('click', cerrarModal);

            function cerrarModal() {
                modal.classList.add('hidden'); // Ocultar el modal
            }
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
